
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/**
 * Nombre del archivo: styles.css
 * Fecha de creación: 17/08/2024
 * Autor: Ivan Samudio
 * Descripción: Este archivo maneja los estilos de la pagina.
 */


/*
PALETTE
https://www.colorhunt.co/palette/222831393e4600adb5eeeeee

#EEEEEE BLANCO
#00ADB5 TURQUESA
#393E46 GRIS
#222831 NEGRO

*/


:root{
    --primary-color: #00ADB5; /*letras nav, fondo botones */
    --second-color: #222831; /* titulos, sombras e iconos*/
    --third-color:#fff; /*letras de botones y fondos de icono*/
    --p-color: #393E46; /*color parrafos*/
    --border-nav: rgba(55, 55, 55, 0.1);/*bordes nav*/
    --nav-background: rgba(255, 255, 255, 0.9);/*fondo nav 222831 v*/
    --background-home: rgba(57, 62, 70,0.1) ;/*fondo home v*/
    --footer-background: #222831; 
    --background-secondary:#fff;
    --card-1:#f3d947;
    --card-2:#C8C8C8;
    --card-3:#00CED1;
    --card-4:#FFA07A;
    --card-5:#FFB6C1;
    --card-6:#87CEFA; 
}

body {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    color: var(--p-color);
}

[data-theme="dark"]{
    --primary-color: #00ADB5;
    --second-color:#EEEEEE;
    --third-color:#393E46;
    --p-color:#A1A1A1;
    --border-nav:rgba(57, 62, 70, 0.1);
    --nav-background:rgba(27, 32, 38, 0.9);
    --background-home:#1B2026;
    --footer-background:#1B2026;
    --background-secondary: #282C34;
    --card-1:#d4cb71be;
    --card-2:#6e6d6d;
    --card-3:#036163;
    --card-4:#724635;
    --card-5:#79575c;
    --card-6:#125b88; 
}

img{
    max-width: 100%;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: #024a4e;
    text-decoration: none;
}

.text-primary{
    color: var(--primary-color) !important;
}

.text-dark {
    color: var(--second-color) !important;
}
/* HEADER*/

#language-toggle,#mode-toggle{
    display: none;
}

#label-language-toggle{
    padding: 0 25px;
    line-height: 35px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--primary-color);
    letter-spacing: 3px;
    position: relative;
    cursor: pointer;
    transition: ease all 0.6s;
    font-style: normal;
}

#label-mode-toggle{
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
    padding: 0 5px;
    line-height: 35px;
}

#label-language-toggle:hover, #label-mode-toggle:hover{
    color: var(--second-color);
}

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    background: transparent;
    transition: 0.3s background;
}

.main-header .navbar{
    padding: 15px 0;
}

.main-header .navbar-nav > li {
    padding: 0 10px;
}

.main-header .navbar-nav > li > .nav-link {
    padding: 0 5px;
    line-height: 35px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--primary-color);
    letter-spacing: 3px;
    position: relative;
}

.main-header .navbar-nav > li > .nav-link:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: ease all 0.3s;
}

.main-header .navbar-nav > li > .nav-link:hover , .main-header .navbar-nav > li > .nav-link.active{
    color: var(--primary-color);
}

.main-header .navbar-nav > li > .nav-link:hover:after,.main-header .navbar-nav > li > .nav-link.active:after{
    left: 0;
    right: auto;
    width: 100%;
}

@media (max-width:991px) {
    .main-header .navbar-collapse {
        border-bottom: 2px solid var(--second-color);
        border-top: 2px solid var(--second-color);
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--third-color);
    }


    .main-header .navbar-nav > li + li{
        border-top: 1px solid var(--border-nav);
    }

    .main-header .navbar-nav > li > .nav-link {
        line-height: 50px;
    }

    .main-header .navbar-nav > li > .nav-link:after{
        display: none;
    }

    .main-header .navbar-toggler {
        display: flex;
        flex-direction: column;
        border: none;
        padding: 4px 9px;
        outline: none;
        box-shadow: none;
    }

    .main-header .navbar-toggler span{
        width: 25px;
        height: 2px;
        background: var(--second-color);
        margin: 4px 0;
        transition: 0.3s;
    }

    .main-header .navbar-toggler:not(.collapsed) span:nth-child(1){
        transform: translateY(10px) rotate(45deg);
    }

    .main-header .navbar-toggler:not(.collapsed) span:nth-child(2){
        opacity: 0;
    }

    .main-header .navbar-toggler:not(.collapsed) span:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
    }
}

.fixed-header .main-header{
    background: var(--nav-background);
    backdrop-filter: blur(10px);
    box-shadow: 0 0.125rem 0.25rem var(--border-nav);
}

.colored-btn{
    padding: 8px 20px;
    border: 2px solid var(--primary-color);
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: ease all 0.3s;
    display: inline-block;
    background: var(--primary-color);
    color: var(--third-color);
    box-shadow: 6px 6px 0 var(--second-color);
}

.colored-btn:hover{
    color: var(--third-color);
    background: var(--second-color);
    border-color: var(--second-color);
    box-shadow: 5px 5px 0 -2px var(--primary-color);
}

.bg-gray{
    background-color: var(--background-home) !important;    
}

.bg-dark{
    background-color: var(--second-color) !important;
}

.bg-1{
    background: var(--card-1);
}

.bg-2{
    background: var(--card-2);
}

.bg-3{
    background: var(--card-3);
}

.bg-4{
    background: var(--card-4);
}

.bg-5{
    background: var(--card-5);
}

.bg-6{
    background: var(--card-6);
}



main {
    position: relative;
    z-index: 1;
}

/*HOME*/

.home-section{
    position: relative;
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 100px;
    transition: all 1.5s ease !important;
}

@media (max-width:767px) {
    .home-section {
        padding-bottom: 70px;
    }

    .home-section .home-intro h6{
        margin: 0 0 20px;
    }

    .home-section .home-intro h1{
        margin: 0 0 25px;
        font-size: 45px;
    }

    .home-section .home-intro p{
        font-size: 18px;
    }

    .home-image img{
        height: 300px;
        width: 300px;
    }
}

.home-section .container{
    position: relative;
    z-index: 1;
}

.home-section .home-intro h6{
    font-weight: 600;
    color: var(--second-color);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 0 30px;
}


.home-section .home-intro h1{
    font-size: 70px;
    font-weight: 600;
    color: var(--second-color);
    margin: 0 0 35px;
    line-height: 1;
}

@media (max-width:1200px) {
    .home-section .home-intro h1{
        font-size: 60px;
    }
}

.home-section .home-intro h1 span {
    border-bottom: 2px solid var(--primary-color);
}

.home-section .home-intro p{
    font-size: 20px;
}

.home-image img{
    height: 450px;
    width: 450px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--second-color);
    position: relative;
    z-index: -2;
}

.anim-elements{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.anim-elements .anim-element{
    position: absolute;
    font-size: 30px;
}

.anim-elements .anim-element:nth-child(1){
    top: 12%;
    left: 15%;
    color: orange;
    animation: aniOne 13s infinite linear alternate;
}

.anim-elements .anim-element:nth-child(2){
    bottom: 15%;
    left: 45%;
    color: gray;
    animation: aniTwo 13s infinite linear alternate;
}

.anim-elements .anim-element:nth-child(3){
    bottom: 20%;
    left: 30%;
    color: lightblue;
    animation: aniThree 13s infinite linear alternate;
}

.anim-elements .anim-element:nth-child(4){
    bottom: 15%;
    right: 25%;
    color: yellow;
    animation: aniFour 13s infinite linear alternate;
}

.anim-elements .anim-element:nth-child(5){
    top: 18%;
    right: 25%;
    color: greenyellow;
    animation: aniThree 13s infinite linear alternate;
}

@keyframes aniOne{
    0%{transform: translate(0,0) rotate(0);}
    40%{transform: translate(141px,72px) rotate(75deg);}
    60%{transform: translate(-40px,72px) rotate(145deg);}
    100%{transform: translate(0,0) rotate(0);}
}

@keyframes aniTwo{
    0%{transform: translate(0,0) rotate(0) scale(1);}
    40%{transform: translate(73px,-1px) rotate(36deg) scale(.9);}
    60%{transform: translate(83px,122px) rotate(108deg)scale(1.2);}
    100%{transform: translate(0,0) rotate(0) scale(1);}
}

@keyframes aniThree{
    0%{transform: translate(-300px,151px) rotate(0);}
    100%{transform: translate(251px,-200px) rotate(180deg);}
}

@keyframes aniFour{
    0%{transform: translate(61px,-99px) rotate(0);}
    40%{transform: translate(4px,-190px) rotate(38deg);}
    60%{transform: translate(-263px,-164px) rotate(108deg);}
    100%{transform: translate(-1px,0) rotate(180deg);}
}

/*ABOUT*/

.section{
    padding: 100px 0;
    position: relative;
    background-color: var(--background-secondary);
    transition: all 1.5s ease !important;
}

@media (max-width:991px) {
    .section{
        padding: 80px 0;
    }
}

@media (max-width:767px) {
    .section{
        padding: 60px 0;
    }
}

.about-text p{
    font-size: 18px;
}


/*HERRAMIENTAS*/
.section-heading {
    padding-bottom: 60px;
    text-align: center;
}

.section-heading h3 {
    font-size: 50px;
    margin: 0;
    color: var(--second-color);
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
}

@media (max-width:991px) {
    .section-heading{
        padding-bottom: 40px;
    }

    .section-heading h3 {
        font-size: 45px;
    }
}

@media (max-width:767px) {
    .section-heading{
        padding-bottom: 30px;
    }

    .section-heading h3 {
        font-size: 38px;
    }

    .feature-box h5{
        font-size: 22px;
    }
}



.feature-box .content {
    max-width: calc(100% - 70px);
    padding-left: 20px;
}

.feature-box h5{
    font-size: 24px;
    color: var(--second-color);
    font-weight: 600;
    margin-bottom: 10px;
}

.feature-box p{
    margin: 0;
    color: var(--second-color);
    font-size: 17px;
}

.feature-box .img{
    max-width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid var(--second-color);
}

/*HABILIDADES*/

.feature-box {
    padding: 40px;
    border: 2px solid var(--second-color);
    box-shadow: 0 0 0 0 var(--second-color);
    display: flex;
    transition: 0.3s box-shadow;
}

.feature-box:hover{
    box-shadow: 5px 5px 0 0 var(--second-color);
}

@media (max-width:767px) {
    .feature-box{
        padding: 30px;
    }
}

.feature-box .icon {
    width: 70px;
    height: 70px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--second-color);
    background: var(--third-color);
    color: var(--second-color);
    font-size: 32px;
}

.icon svg{
    fill: var(--second-color);
    vertical-align: unset;
}

.feature-box .iconSocial {
    width: 100px;
    height: 100px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--second-color);
    background: var(--background-secondary);
    color: var(--second-color);
    font-size: 100px;
}

.feature-box-small {
    padding: 15px;
    align-items: center;
}

.feature-box-small:hover {
    box-shadow: 3px 3px 0 0 var(--second-color);
}

.feature-box .icon {
    width: 50px;
    height: 50px;
}

.feature-box-small h6 {
    margin: 0;
    color: var(--second-color);
    padding-left: 15px;
}


/*PORTFOLIO*/

.portfolio-box .portfolio-img {
    position: relative;
    border: 2px solid var(--second-color);
    box-shadow: 0 0 0 0 var(--second-color);
    transition: 0.3s;
}

.portfolio-box .portfolio-img:hover{
    box-shadow: 5px 5px 0 0 var(--second-color);
}

.portfolio-box .portfolio-text span{
    display: inline-block;
    padding: 8px 20px;
    background: rgba(255, 101, 28, 0.2);
    color: var(--second-color);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    border-radius: 30px;
    margin-bottom: 18px;
}

.portfolio-box .portfolio-text h4{
    color: var(--second-color);
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .portfolio-box .portfolio-text h4{
        font-size: 26px;
        margin-bottom: 10px;
    }  
}

.portfolio-box .portfolio-text .colored-btn {
    font-size: 12px;
} 

/* OWL */

.owl-dots{
    text-align: center;
}

.owl-dots .owl-dot{
    display: inline-block;
    vertical-align: top;
    width: 12px;
    height: 12px;
    background: transparent;
    border: 1px solid var(--second-color) !important;
    transition: ease all 0.55s;
    border-radius: 50%;
    margin: 0 4px;
}

.owl-dots .owl-dot.active {
    background: var(--second-color);
}

#emailMessage{
    color: var(--primary-color);
}

#email{
    width: 195px;
    padding: 0;
    border: 0;
    font-size: 16px;
    color: var(--second-color);

}

.notification {
    display: none;
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--second-color);
    color: var(--third-color);
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    z-index: 1000; /* Asegura que la notificación esté por encima de otros elementos */
    transition: opacity 0.5s ease-in-out; /* Transición suave */
}

.notification.show {
    display: block; /* Muestra la notificación */
    opacity: 1;
}

.notification.hide {
    opacity: 0;
}



/*CONTACTO*/

.contact-section{
    background: var(--footer-background);
}

.contact-infos{
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact-infos li{
    display: flex;
    position: relative;
    padding-bottom: 35px;
}

.contact-infos li:last-child{
    padding-bottom: 0;
}

.contact-infos .icon{
    width: 55px;
    height: 55px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--second-color);
    font-size: 25px;
}

.contact-infos h5{
    font-size: 14px;
    margin: 0 0 5px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.contact-infos p{
    margin: 0;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

/*FOOTER*/


.footer{
    background-color: var(--footer-background);
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.75);
}

.footer .nav a{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.75);;
}

.footer .nav a:hover{
    color: var(--primary-color);
}

.footer .nav a + a{
    margin-left: 10px;
}
